
:root {
    --vp-c-brand: #8e43b6;
    --vp-c-brand-light: #712b94;

    --vp-c-green: #660099;
    --vp-c-green-light: #7f4b98;
    --vp-c-green-lighter: #8f7e98;
    --vp-c-green-dark: #500077;
    --vp-c-green-darker: #1d002c;

}
  